In [30]:
colors = list()

In [31]:
colors.append('red')

In [32]:
colors

['red']

In [33]:
colors.append('blue')

In [34]:
colors

['red', 'blue']

In [35]:
colors.append('yellow')

In [36]:
colors

['red', 'blue', 'yellow']

In [37]:
colors.append('red')

In [38]:
colors

['red', 'blue', 'yellow', 'red']

In [39]:
colors.remove('red')

In [40]:
colors

['blue', 'yellow', 'red']

In [41]:
a = [1,5,7,3,9]

In [42]:
a

[1, 5, 7, 3, 9]

In [43]:
a.sort()
a

[1, 3, 5, 7, 9]

In [44]:
a.sort(reverse=True)
a

[9, 7, 5, 3, 1]

> sort() 와 sorted() 차이점은 반환값이 있냐 없냐,

In [45]:
f = ['babaab', 'apple', 'orange']
f1 = f.sort()
print(f1)

None

In [46]:
f = ['babaab', 'apple', 'orange']
f1 = sorted(f)
print(f1)

['apple', 'babaab', 'orange']

In [47]:
a = [12,4,6,34,56]
max(a)

56

In [48]:
min(a)

4

In [14]:
# number = int(input("Enter a number : "))
l = list()
while 1:
    a = input('Enter a number : ')
    if( a == 'done'):
        break
    else:
        l.append(float(a))
        

# nl = list(map(float,l))
print(l)
print('Maximum: {}'.format(sum(l)/len(l)))
print('Maximum: {}'.format(max(l)))
print('Minimum: {}'.format(min(l)))

Enter a number : 4
Enter a number : 2
Enter a number : 5
Enter a number : 6
Enter a number : done
[4.0, 2.0, 5.0, 6.0]
Maximum: 4.25
Maximum: 6.0
Minimum: 2.0

- Tuple(튜플)

> Tuple Packing 관련함수는 index(), count() 두개이다

- 집합(set)

> 순서 없이 항목을 저장, 항목이 중복 될 수 없음
>> add, remove , discard, update, clear

In [16]:
s = set()
s

set()

In [17]:
s1 = set([1,2,3])
s2 = {3,4,5}

In [18]:
s1

{1, 2, 3}

In [19]:
s2

{3, 4, 5}

- Dictionary

    - 중괄호로{} 묶여있으며 키와 벨류의 쌍으로 이뤄짐
    - key 값은 동일한거 없음 중복 없음
    - 항목들 사이에 순서가 없음

In [24]:
d = {'yoon':1, 'park':2, 'kim': 10}

for x in d.values():
    print(x)

1
2
10

In [25]:
d = {'yoon':1, 'park':2, 'kim': 10}

for key in d:
    print(d[key])

1
2
10

In [26]:
for key, value in d.items():
    print(value)

1
2
10

In [11]:
word = input('Enter a sentence : ')

word_list = list(word)
word_list
d = {}
count = 0

for x in word_list:
    if x in d:
        d[x] += 1
    else:
        d[x] = 1
print(d)

Enter a sentence : Python is fun? really? yes!!
{'P': 1, 'y': 3, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 4, 'i': 1, 's': 2, 'f': 1, 'u': 1, '?': 2, 'r': 1, 'e': 2, 'a': 1, 'l': 2, '!': 2}

In [43]:
sen = 'hello' * 2
d = dict()

for key in sen:
    if key in d:
        d[key] += 1
    else:
        d[key] = 1
        
print(d)

{'h': 2, 'e': 2, 'l': 4, 'o': 2}

In [62]:
sen = "Python is fun!"
sen_set = set(sen)
d = {}

for x in sen_set:
    d[x] = sen.count(x)
#     print(sen.count(x))
print(d)

{'t': 1, 'f': 1, ' ': 2, '!': 1, 'i': 1, 's': 1, 'y': 1, 'P': 1, 'h': 1, 'u': 1, 'o': 1, 'n': 2}

In [48]:
f = open("new.txt","w")

for i in range(6,11):
    data = "%d line\n" % i
    f.write(data)

f.close()

In [50]:
fr = open("new.txt", "r")

line = fr.readline()
print(line, end='')

line = fr.readline()
print(line, end='')

line = fr.readline()
print(line, end='')

fr.close()

6 line
7 line
8 line

In [53]:
fr = open("test.txt", "r")

d = {}
for line in fr:
    lineList = line.split()
    for word in lineList:
        if word in d:
            d[word] += 1
        else:
            d[word] = 1


f.close()

print(d)

{'this': 1, 'is': 1, 'test': 1, 'first': 1, 'line': 3, 'second': 1, 'third': 1}

In [52]:
lineList

['third', 'line']

## Function

In [54]:
a = [5,5,6,7,8,3]
b = "I am a boy."

def my_len(l):
    count = 0
    for x in l:
        count += 1
    return count

print(len(a), len(b))
print(my_len(a), my_len(b))

6 11
6 11

In [65]:
a = 1
b = 2

def add(x, y):
    return x + y

def sub(x, y):
    return x - y

def mul(x, y):
    return x * y

def div(x, y):
    return x / y


c = add(a, b)
d = sub(a, b)
e = mul(a, b)
f = div(a, b)


print(c, d, e, f)

3 -1 2 0.5

In [79]:
num = int(input('Factorial number : '))

def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

res = factorial(num)
print(res)

Factorial number : 4
24

 ## assignment 01

In [6]:
def func():
    print("function A.py")

print("top-level A.py")

if __name__ == "__main__":
    print("A.py 직접 실행")
else:
    print("A.py가 임포트되어 사용됨")

top-level A.py
A.py 직접 실행